@import './base.scss';

#app {
  // max-width: 1216px;
  // margin: 0 auto;
  /* padding: 2rem; */
  /* font-weight: normal; */
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h2,
h3,
h4 {
  color: #1d2452;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

table {
  border-spacing: 0;
}

th,
td,
tr {
  padding-left: 16px;
}

// @media (hover: hover) {
//   a:hover {
//     background-color: #363e77;
//   }
// }

// @media (min-width: 1024px) {
/* body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
// }
